SECRET_KEY=
MAIL_SERVER=
MAIL_PORT=
MAIL_USERNAME=
MAIL_PASSWORD=
APP_NAME=
APP_MAIL_SUBJECT_PREFIX=
APP_MAIL_SENDER=
APP_ADMIN=
APP_URL_PREFIX=
DEV_DATABASE_URL=
DATABASE_URL=
FLASK_CONFIG=
UPLOAD_DIR=