{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}{{ config['APP_NAME'] }} - Pay{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Make a payment for {{ user.name }} ({{ user.username }})</h1>
</div>
<div class="col-md-6">

    <p>
        <b>Type:</b> {{ type }}<br>

        {% if reservation %}
            <p>
                <b>Resource: </b>{{ reservation.resource.name }}<br>
                <b>Date: </b>{{ reservation.start }}<br>
                <b>Reason: </b>{{ reservation.reason }}<br>
                <b>Duration: </b>{{ reservation.duration_str }}<br>
                <b>Cost: </b> {{ reservation.cost }}&euro;<br>
            </p>

            <b>Total paid:</b> {{ reservation.amount_paid }}&euro;<br>
        {% endif %}

        {% if payments %}
            <table class="table table-condensed table-hover">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Description</th>
                        <th>Amount</th>
                        <th>Method</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>
                {% for payment in payments %}
                    <tr>
                        <td>{{ payment.id }}</td>
                        <td>{{ payment.description }}</td>
                        <td>{{ payment.amount }}&euro;</td>
                        <td>{{ payment.method }}</td>
                        <td>{{ moment(payment.date).format('DD/MM/YYYY HH:mm') }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </p>

    {{ wtf.quick_form(form) }}
</div>

<div class="col-md-6">
    <div class="panel panel-default">
        <div class="panel-body">
            <h4>
                How to make a payment:
                <ol>
                    <li>Fill in the correct amount and click 'Pay'</li>
                    <li>Use the id from the table as payment reference id</li>
                </ol>
            </h4>
        </div>
    </div>
</div>

{% endblock %}