{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
    {{ config['APP_NAME'] }} -
    {% if user %}
        Payment made for {{ user.name }}
    {% else %}
        Anonymous payment
    {% endif %}
{% endblock %}

{% block page_content %}

<div class="col-md-12">

{% if payment %}
    <div class="page-header">
        <h1>
            {% if user %}
                Payment made for {{ user.name }}
            {% else %}
                Anonymous payment
            {% endif %}
        </h1>
    </div>

    <table class="table table-condensed table-hover">
        <thead>
            <tr>
                <th>Type</th>
                <th>Description</th>
                <th>Amount (&euro;)</th>
            </tr>
        </thead>
        <tbody>
        {% for description in descriptions %}
            <tr>
                <td>{{ description['type'] }}</td>
                <td>{{ description['description'] }}</td>
                <td>{{ description['amount'] }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <h4>
        <b>Date:</b> {{ moment(payment.date).format('DD/MM/YYYY HH:mm') }}<br>
        <b>Total:</b> &euro;{{ payment.amount }}<br>
        <b>Method:</b> {{ payment.method }}<br>
        <b>Operator:</b> {{ payment.operator.name }}<br>
        <b>Payment reference ID:</b> {{ payment.id }}<br>
        <b>Paid:</b> {{ payment.paid }}
    </h4>

    {% if not payment.paid %}
        <a class="btn btn-default" href="">Pay online</a>
    {% endif %}
{% endif %}
</div>

{% endblock %}
