{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
    {{ config['APP_NAME'] }} - Request invoice
{% endblock %}

{% block page_content %}

<div class="col-md-12">

{% if payment %}
    <div class="page-header">
        <h1>Request invoice</h1>
    </div>

    <table class="table table-condensed table-hover">
        <thead>
            <tr>
                <th>Type</th>
                <th>Description</th>
                <th>Amount (&euro;)</th>
            </tr>
        </thead>
        <tbody>
        {% for description in descriptions %}
            <tr>
                <td>{{ description['type'] }}</td>
                <td>{{ description['description'] }}</td>
                <td>{{ description['amount'] }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <h4>
        <b>Date:</b> {{ moment(payment.date).format('DD/MM/YYYY HH:mm') }}<br>
        <b>Total:</b> &euro;{{ payment.amount }}<br>
        <b>Method:</b> {{ payment.method }}<br>
        <b>Operator:</b> {{ payment.operator.name }}<br>
        <b>Payment reference ID:</b> {{ payment.id }}
    </h4>

    <br>
    <a class="btn btn-default" href="{{ url_for('.payment_proof', id=payment.id) }}">Print proof of payment</a> This is not an invoice!<br><br>
    <a class="btn btn-default" href="{{ url_for('.payment_invoice', id=payment.id) }}">Request invoice</a> An invoice will be mailed to you.
{% endif %}
</div>

{% endblock %}