{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}{{ config['APP_NAME'] }} - Edit profile{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Edit profile</h1>
</div>
<div class="col-md-6">
    {{ wtf.quick_form(form) }}
</div>

<div class="col-md-6">

</div>
{% endblock %}

{% block scripts %}
    {{ super() }}

    <script type="text/javascript">
        $(document).ready(function() {
            $("#keycard").keypress(function(event) {
                var table = {224:0, 38:1, 233:2, 34:3, 39:4, 40:5, 167:6, 232:7, 33:8, 231:9,
                             48:0, 49:1, 50:2, 51:3, 52:4, 53:5, 54:6, 55:7, 56:8, 57:9};
                var char = table[event.which];

                event.preventDefault();
                if (char!=null) {
                    $("#keycard").val($("#keycard").val()+char);
                }
            });
        });
    </script>
{% endblock %}