{% macro fullcalendar_content() %}
    <div id='calendar'></div>
    <div id="dialog" title="" style="display:none;">Are you sure want to delete it?</div>
{% endmacro %}

{% macro fullcalendar_scripts(resource, setdata, getdata, eventOverlap, selectConstraint, eventColor) %}
    <link rel='stylesheet' href='{{ url_for("static", filename="fullcalendar/fullcalendar.css") }}' />
    <script src='{{ url_for("static", filename="fullcalendar/fullcalendar.js") }}'></script>
    <script src='{{ url_for("static", filename="fullcalendar/lib/jquery-ui.custom.min.js") }}'></script>

    <script>

        function isOverlapping(event){
            var array = $('#calendar').fullCalendar('clientEvents');

            for(i in array) {
                if(array[i].id != event.id) {
                    if(!(array[i].start._d >= event.end._d || array[i].end._d <= event.start._d)) {
                        if (array[i].id!='available') {
                            return true;
                        }
                    }
                }
            }
            return false;
        }

        function postEvent(action, event) {

            if (isOverlapping(event)) {
                $('#calendar').fullCalendar('refetchEvents');
                return;
            }
            var offset = new Date().getTimezoneOffset();

            var data = Object({ action: action,
                                id: event._id,
                                start: Math.round(event.start / 1000) ,
                                end: Math.round(event.end / 1000),
                                offset: offset});

            $.ajax({
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(data),
                dataType: 'json',
                url: '{{ url_for(setdata, id=resource.id) }}',

                success: function(response) {
                    if (response.id) {
                        event.id = response.id;
                        event._start = event.start;
                        $('#calendar').fullCalendar('updateEvent', event);
                    }
                    $('#calendar').fullCalendar('refetchEvents');
                },

                error: function(e) {
                    console.log(e.responseText);
                    $('#calendar').fullCalendar('refetchEvents');
                }
            });
        }

        $(document).ready(function() {

            var duration = moment.utc( {{ resource.reserv_per }}*1000*60 ).format("HH:mm:ss");

            $('#calendar').fullCalendar({

                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,agendaWeek,agendaDay'
                },

                firstDay: 1,
                editable: true,
                weekends: true,
                slotDuration: duration,
                snapDuration: duration,
                defaultTimedEventDuration: duration,
                defaultView: 'agendaWeek',
                draggable: true,
                forceEventDuration: true,
                eventOverlap: {% if eventOverlap %}true{% else %}false{% endif %},
                scrollTime :  "13:00:00",
                slotLabelFormat: "HH:mm",
                timeFormat: "HH:mm",
                allDaySlot: false,
                columnFormat: 'ddd D/M',
                selectable: true,
                {% if selectConstraint %}
                    selectConstraint: '{{ selectConstraint }}',
                {% endif %}

                select: function(start, end, jsEvent, view) {
                    var NewEvent = Object({ allDay: false , start: start, end: end});
                    postEvent('new', NewEvent);
                },

                eventClick: function(event, jsEvent, view) {
                    var r=confirm("Delete reservation?");
                    if (r===true)
                    {
                        postEvent('remove', event);
                    }
                },

                eventResize: function( event, delta, revertFunc, jsEvent, ui, view ) {
                    postEvent('update', event);
                },

                eventDrop: function(event, delta, revertFunc) {
                    postEvent('update', event);
                },

                events: {
                    url: '{{ url_for(getdata, id=resource.id) }}',
                    color: '{{ eventColor }}',
                },

            })
        });
    </script>
{% endmacro %}