{% macro fullcalendar_content() %}
    <div id="error_msg"></div>
    <div id='calendar'></div>
    <div id="dialog" title="" style="display:none;">Are you sure want to delete it?</div>
{% endmacro %}

{% macro fullcalendar_scripts(type, resource, setdata, getdata, eventColor) %}
    <link rel='stylesheet' href='{{ url_for("static", filename="fullcalendar/fullcalendar.css") }}' />
    <script src='{{ url_for("static", filename="fullcalendar/fullcalendar.js") }}'></script>
    <script src='{{ url_for("static", filename="fullcalendar/lib/jquery-ui.custom.min.js") }}'></script>

    <link href='{{ url_for("static", filename="bootstrap-dialog/css/bootstrap-dialog.min.css") }}' rel="stylesheet" type="text/css" />
    <script src='{{ url_for("static", filename="bootstrap-dialog/js/bootstrap-dialog.min.js") }}'></script>

    <script>

        function isOverlapping(event) {
            var array = $('#calendar').fullCalendar('clientEvents');

            for(i in array) {
                if(array[i].id != event.id) {
                    if(!(array[i].start._d >= event.end._d || array[i].end._d <= event.start._d)) {
                        if (array[i].id!='available' && array[i].id!='reservation') {
                            return true;
                        }
                    }
                }
            }
            return false;
        }

        function showErrorMsg(msg) {
            $('#error_msg').html('<div class="container">'+
                                    '<div class="alert alert-warning">'+
                                        '<button type="button" class="close" data-dismiss="alert">&times;</button>'+
                                        msg+
                                    '</div>'+
                                '</div>');
        }

        function postEvent(action, event) {

        {% if setdata %}
            {% if type!='available' %}
                if (isOverlapping(event)) {
                    $('#calendar').fullCalendar('refetchEvents');
                    return;
                }
            {% endif %}

            var data = Object({ action: action,
                                id: event._id,
                                start: event.start,
                                end: event.end,
                                reason: event.reason});

            $.ajax({
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(data),
                dataType: 'json',
                {% if resource %}
                    url: '{{ url_for(setdata, id=resource.id) }}',
                {% else %}
                    url: '{{ url_for(setdata) }}',
                {% endif %}

                success: function(response) {

                    if (response.err) {
                        showErrorMsg(response.err);
                    } else if (response.id) {
                        event.id = response.id;
                        event._start = event.start;
                        $('#calendar').fullCalendar('updateEvent', event);
                    }
                    $('#calendar').fullCalendar('refetchEvents');
                },

                error: function(e) {
                    $('#calendar').fullCalendar('refetchEvents');
                }
            });
            {% endif %}
        }

        $(document).ready(function() {

            var duration = '00:20:00';

            $('#calendar').fullCalendar({

                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,agendaWeek,agendaDay'
                },

                firstDay: 1,
                weekends: true,
                slotDuration: duration,
                snapDuration: duration,
                defaultTimedEventDuration: duration,
                defaultView: 'agendaWeek',
                forceEventDuration: true,
                eventOverlap: true,
                scrollTime : '17:00:00',
                slotLabelFormat: "HH:mm",
                timeFormat: "HH:mm",
                allDaySlot: false,
                columnFormat: 'ddd D/M',
                nowIndicator: true,
                timezone: 'false',
                height: 600,

            {% if setdata %}
                draggable: true,
                selectable: true,
                editable: true,

                select: function(start, end, jsEvent, view) {
                    {% if type=='reservation' %}
                        var offset = new Date().getTimezoneOffset();
                        BootstrapDialog.show({
                            title: 'Reservation for {{ resource.name }}',
                            message: 'You are making a new reservation at '+ moment(start).format("MMM Do HH:mm")  +'.<br>What are you planning to do?<input type="text" class="form-control">',
                            closable: true,
                            draggable: true,
                            buttons: [{
                                        label: 'Save',
                                        action: function(dialogRef) {
                                            var reason = $.trim(dialogRef.getModalBody().find('input').val());
                                            if (reason=='') {
                                                return false;
                                            }
                                            else {
                                                var NewEvent = Object({allDay: false, start: start, end: end, reason: reason});
                                                postEvent('new', NewEvent);
                                                dialogRef.close();
                                            }
                                        }
                                      }, {
                                        label: 'Cancel',
                                        action: function(dialogRef) {
                                            dialogRef.close();
                                        }
                            }]
                        });
                    {% else %}
                        var NewEvent = Object({allDay: false, start: start, end: end});
                        postEvent('new', NewEvent);
                    {% endif %}
                },

                eventResize: function( event, delta, revertFunc, jsEvent, ui, view ) {
                    postEvent('update', event);
                },

                eventDrop: function(event, delta, revertFunc) {
                    postEvent('update', event);
                },
            {% endif %}

                eventClick: function(event, jsEvent, view) {
                    {% if type=='reservation' or type=='overview' %}
                        $(location).attr('href', '{{ url_for('.reservation', id=0) }}' + event.id);
                    {% endif %}

                    {% if type=='available' and not setdata%}
                        $(location).attr('href', '{{ url_for('.user_by_available', id=0) }}' + event.id);
                    {% endif %}

                    {% if type=='available' and setdata %}
                        BootstrapDialog.confirm({
                                title: 'Remove timespan?',
                                message: moment(event.start).format('MMMM Do YYYY, HH:mm') + '<br><a href="{{ url_for('.user_by_available', id=0) }}' + event.id + '">' +  event.title + '</a>',
                                type: BootstrapDialog.TYPE_WARNING,
                                closable: true,
                                draggable: true,
                                btnOKClass: 'btn-warning',
                                callback: function (result) {
                                    if (result) {
                                        postEvent('remove', event)
                                    }
                                }
                            });
                    {% endif %}
                },

                events: {
                    {% if resource %}
                        url: '{{ url_for(getdata, id=resource.id) }}',
                    {% else %}
                        url: '{{ url_for(getdata) }}',
                    {% endif %}
                    color: '{{ eventColor }}',
                },

            })
        });
    </script>
{% endmacro %}