{% extends "base.html" %}
{% import "resource/_calendar.html" as calendar %}

{% block title %}{{ config['APP_NAME'] }}{% endblock %}

{% block page_content %}

    <div class="page-header">
        <h1>Availability calendar</h1>
    </div>

    <div class="col-md-12">
        {{ calendar.fullcalendar_content() }}
    </div>

{% endblock %}

{% block scripts %}
    {{ super() }}
    {{ calendar.fullcalendar_scripts('available', none, '.available_setdata', '.available_getdata', '#378006') }}
{% endblock %}