{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}{{ config['APP_NAME'] }} - Edit resource{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Edit resource</h1>
</div>
<div class="col-md-8">
    {{ wtf.quick_form(form) }}
</div>

<div class="col-md-4">
    <div class="panel panel-default">
        <div class="panel-body">
                <h4>Remarks:</h4>
                <ul>
                    <li><b>Name:</b> choose the name wisely!</li>
                    <li><b>Description:</b> use <a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet">markdown makeup</a> to make your text pretty</li>
                    <li><b>Active:</b> this is to let the users know if a resource is available. If not, you can put a remark in description</li>
                </ul>
        </div>
    </div>

</div>
{% endblock %}