{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}{{ config['APP_NAME'] }} - Reservation {{ reservation.id }}{% endblock %}

{% block page_content %}

    <div id="error_msg"></div>

    <div class="page-header">
        <h1>Reservation {{ reservation.id }}</h1>
    </div>

    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-body">
                <p><b>User: </b>{{ reservation.user.name }} (<a href="{{ url_for('.user', username=reservation.user.username) }}">{{ reservation.user.username }}</a>)</p>
                <p><b>Resource: </b><a href="{{ url_for('.resource', name=reservation.resource.name) }}">{{ reservation.resource.name }}</a></p>
                <p><b>Date: </b>{{ moment(reservation.start, local=True).format('DD/MM/YYYY HH:mm') }}</p>
                <p><b>Reason: </b>{{ reservation.reason }}</p>
                <p><b>Duration: </b>{{ reservation.duration_str }}</p>
                <p><b>Cost: </b> &euro;{{ reservation.cost }}</p>
                <p><b>Paid: </b>&euro;{{ reservation.paid }}</p>
            </div>
        </div>

        {% if current_user.can(Permission.MANAGE_PAYMENTS) and not reservation.is_paid %}
            <a class="btn btn-default" href="{{ url_for('.make_payment', id=reservation.user.id) }}">Make payment</a>
        {% endif %}
        {% if (current_user.can(Permission.MANAGE_RESERVATIONS) or reservation.user==current_user) and not reservation.is_paid %}
            <a class="btn btn-danger" onclick="delete_reservation({{ reservation.id }});">Delete reservation</a>
        {% endif %}
    </div>

    <div class="col-md-8">

    </div>
{% endblock %}

{% block scripts %}
    {% if current_user.can(Permission.MANAGE_RESERVATIONS) or reservation.user==current_user %}
        {{ super() }}

        <link href='{{ url_for("static", filename="bootstrap-dialog/css/bootstrap-dialog.min.css") }}' rel="stylesheet" type="text/css" />
        <script src='{{ url_for("static", filename="bootstrap-dialog/js/bootstrap-dialog.min.js") }}'></script>
        <script>

            function showErrorMsg(msg) {
                $('#error_msg').html('<div class="container">'+
                                        '<div class="alert alert-warning">'+
                                            '<button type="button" class="close" data-dismiss="alert">&times;</button>'+
                                            msg+
                                        '</div>'+
                                    '</div>');
            }

            function delete_reservation(id) {

                BootstrapDialog.confirm({
                    title: 'Remove reservation?',
                    message: '{{ reservation.user.name }}: {{ reservation.reason }}',
                    type: BootstrapDialog.TYPE_WARNING,
                    closable: true,
                    draggable: true,
                    btnOKClass: 'btn-warning',
                    callback: function (result) {
                        if (result) {
                            var data = Object({ action: 'remove',
                                                id: id});

                            $.ajax({
                                type: 'POST',
                                contentType: 'application/json',
                                data: JSON.stringify(data),
                                dataType: 'json',
                                url: '{{ url_for('.reservation_setdata', id=reservation.resource.id) }}',

                                success: function(response) {
                                    if (response.err) {
                                        showErrorMsg(response.err);
                                    } else {
                                        $(location).attr('href', '{{ url_for('.make_reservation', id=reservation.resource.id) }}');
                                    }
                                },
                            });
                        }
                    }
                });
            }

        </script>
    {% endif %}
{% endblock %}