{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}{{ config['APP_NAME'] }} - Reservation {{ reservation.id }}{% endblock %}

{% block page_content %}

    <div class="page-header">
        <h1>Reservation {{ reservation.id }}</h1>
    </div>

    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-body">
                <p><b>User: </b>{{ reservation.user.name }} ({{ reservation.user.username    }})</p>
                <p><b>Resource: </b>{{ reservation.resource.name }}</p>
                <p><b>Date: </b>{{ moment(reservation.start, local=True).format('DD/MM/YYYY HH:mm') }}</p>
                <p><b>Reason: </b>{{ reservation.reason }}</p>
                <p><b>Duration: </b>{{ reservation.duration_str }}</p>
                <p><b>Cost: </b> &euro;{{ reservation.cost }}</p>
                <p><b>Paid: </b>&euro;{{ reservation.paid }}</p>
            </div>
        </div>
    </div>

    <div class="col-md-8">

    </div>
{% endblock %}
