{% extends "base.html" %}
{% import "user/_macros.html" as macros %}

{% block title %}{{ config['APP_NAME'] }} - {{ resource.name }}{% endblock %}

{% block page_content %}

    <div class="page-header">
        <h1>{{ resource.name }}</h1>
    </div>

    <div class="col-md-4">
        <p><b>Active?</b> {{ resource.active }}</p>
        <p><b>Description:</b> {{ resource.description }}</p>

        {% if current_user.can(Permission.MANAGE_RESOURCES) %}
            <a class="btn btn-default" href="{{ url_for('.edit_resource', name=resource.name) }}">Edit resource</a>
            <a class="btn btn-danger" href="{{ url_for('.delete_resource', name=resource.name) }}">Delete resource</a>
        {% endif %}
    </div>

    <div class="col-md-8">

    </div>
{% endblock %}
