{% import "_macros.html" as macros with context %}

{% macro view_users_widget(users, pagination, endpoint) %}

{% if users %}
    <table class="table table-condensed table-hover">
        <thead>
            <tr>
                <th></th>
                <th>Email</th>
                <th>Username</th>
                <th>Real name</th>
                <th>Role</th>
                <th>Confirmed</th>
                <th>Member since</th>
                <th>Last seen</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr class="clickable-row">
                <td><img src="{{ user.photo_url(size=25) }}"></td>
                <td>
                     <a href="{{ url_for('main.user', username=user.username) }}"></a>
                    {{ user.email }}
                </td>
                <td>{{ user.username or '' }}</td>
                <td>{{ user.name or '' }}</td>
                <td>{{ user.role.name }}</td>
                <td>{{ user.confirmed }}</td>
                <td>{{ moment(user.member_since).format('DD/MM/YYYY') }}</td>
                <td>{{ moment(user.last_seen).format('DD/MM/YYYY HH:mm') }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}

{% if pagination %}
<div class="text-center">
    {{ macros.pagination_widget(pagination, endpoint) }}
</div>
{% endif %}

{% endmacro %}
