{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}{{ config['APP_NAME'] }} - Expense note {{ expensenote.id }}{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Expense note {{ expensenote.id}}</h1>
</div>

<div class="col-md-4">
    <div class="panel panel-default">
        <div class="panel-body">
            <p><b>User: </b><a href="{{ url_for('.user', username=expensenote.user.username) }}">{{ expensenote.user.name }}</a></p>
            <p><b>Cost: </b>&euro;{{ expensenote.total }}</p>
            <p><b>Description: </b>{{ expensenote.description }}</p>
            <p><b>Bank account: </b>{{ expensenote.bank_account }}</p>
            <p><b>Date costs: </b>{{ moment(expensenote.date).format('DD/MM/YYYY') }}</p>
            <p><b>Date request: </b>{{ moment(expensenote.date_requested).format('DD/MM/YYYY') }}</p>
            <p><b>Paid: </b>{{ expensenote.paid }}</p>
            <p><b>File: </b><a href="{{ expensenote.file_url }}">{{ expensenote.filename }}</a></p>
        </div>
    </div>

    {{ wtf.quick_form(form) }}

</div>

<div class="col-md-8">


</div>

{% endblock %}