{% extends "base.html" %}
{% import "resource/_calendar.html" as calendar %}

{% block title %}{{ config['APP_NAME'] }}{% endblock %}

{% block page_content %}
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <p>After <a href="{{ url_for('auth.register') }}">registration</a> and <a href="{{ url_for('auth.login') }}">login</a>,
                you can make <a href="{{ url_for('main.list_resources') }}">reservations</a> or
                <a href="{{ url_for('main.edit_profile') }}">manage your account</a>.</p>

                This is the availability calendar. It shows you when the lab is open and what volunteer will be present. You can click on a block for more info.<br>
                Always remember to make a reservation if you want to use a machine!
            </div>
        </div>

        {{ calendar.fullcalendar_content() }}
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}

    {% if current_user.can(Permission.MANAGE_RESOURCES) %}
        {{ calendar.fullcalendar_scripts('available', none, '.available_setdata', '.available_getdata', '#378006') }}
    {% else %}
        {{ calendar.fullcalendar_scripts('available', none, none, '.available_getdata', '#378006') }}
    {% endif %}
{% endblock %}