{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
    {{ config['APP_NAME'] }} -
    {% if user %}
        Make payment for {{ user.username }}
    {% else %}
        Make anonymous payment
    {% endif %}
{% endblock %}

{% block page_content %}

<div class="col-md-12">
    <div class="page-header">
        <h1>
            {% if user %}
                Make payment for {{ user.username }}
            {% else %}
                Make anonymous payment
            {% endif %}
        </h1>
    </div>

{% if user %}
    <div class="panel panel-info">
        <div class="panel-body">{{ user.name }} has &euro;{{ user.credits }} credits left</div>
    </div>
{% else %}
    <div class="panel panel-danger">
        <div class="panel-heading">WARNING</div>
        <div class="panel-body">
            <h2>This is only for payments for which no <b>registered user</b> exists!<br>
            It can not be used for reservations or memberships.</h2>
        </div>
    </div>
{% endif %}

    <form action="" method="post" class="form" role="form">
        <fieldset>
            <div class="payment-row">
                <label>Type:</label>
                <select name="type[]" required onchange="typeChange(this);">
                    <option value="custom">custom</option>
                    <option value="consumption">consumption</option>

                    {% if user %}
                    <option value="reservation">reservation</option>
                    <option value="membership">membership</option>
                    <option value="credits">credits</option>
                    {% endif %}
                </select>

                {% if user %}
                    <label>Reservation:</label>
                    <select name="reservation[]" style="max-width:30%;" onchange="reservationChange(this);">
                            <option value="0"></option>
                        {% for reservation in user.reservations.all() %}
                            {% if not reservation.is_paid %}
                                <option value="{{ reservation.id }}">{{ reservation.start }} ({{ reservation.reason }})</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                {% endif %}

                <label>Description:</label>
                <input name="description[]" required size="30"/>

                <label>Amount:</label>
                <input type="float" name="amount[]" required style="width: 50px;" value="0"/>

                <span class="glyphicon glyphicon-remove" onclick="removeRow(this);"></span>
            </div>
            <div id="end"></div>

            <br>
            <label>Method:</label>
            <select name="method" required>
                {% for method in methods %}
                    <option value="{{ method }}">{{ method }}</option>
                {% endfor %}
            </select>

            <br>
            <input class="btn btn-default" type="button" value="Add row" onclick="addRow();" />
            <input class="btn btn-default" type="submit" value="Pay">

        </fieldset>
    </form>
</div>

{% endblock %}

{% block scripts %}

    {{ super() }}

    <script type="application/javascript">

    {% if user %}
        var reservations = [
            {% for reservation in user.reservations.all() %}
                {% if not reservation.is_paid %}
                    {
                        'reason': '{{ reservation.reason }}',
                        'cost': {{ reservation.cost }}
                    },
                {% endif %}
            {% endfor %}
        ];

        function getElementIdInArray(element, type) {
            var rows = document.getElementsByName(type).length;
            var i = 0;
            for (i=0; i<rows; i++) {
                if (document.getElementsByName(type)[i]==element) {
                    return i
                }
            }
            return -1;
        }

        function typeChange(type) {
            var i = getElementIdInArray(type, 'type[]');

            document.getElementsByName('reservation[]')[i].value = 0;
            document.getElementsByName('amount[]')[i].value = 0;
            document.getElementsByName('description[]')[i].value = '';

            if (type.value=='membership') {
                document.getElementsByName('amount[]')[i].value = 12;
                document.getElementsByName('description[]')[i].value = 'Membership {{ user.name }}';
            } else if (type.value=='credits') {
                document.getElementsByName('amount[]')[i].value = 30;
                document.getElementsByName('description[]')[i].value = 'Add credits';
            }
        }

        function reservationChange(reservation) {
            var i = getElementIdInArray(reservation, 'reservation[]');
            var type = document.getElementsByName('type[]')[i].value;

            if (type == 'reservation') {
                if (reservation.selectedIndex == 0) {
                    document.getElementsByName('description[]')[i].value = '';
                    document.getElementsByName('amount[]')[i].value = '';
                } else {
                    document.getElementsByName('description[]')[i].value = reservations[reservation.selectedIndex - 1]['reason'];
                    document.getElementsByName('amount[]')[i].value = reservations[reservation.selectedIndex - 1]['cost'];
                }
            } else {
                reservation.value = 0;
            }
        }
    {% endif %}

        var row = $('.payment-row').clone();

        function addRow() {
            row.clone().insertBefore($('#end'));
        }

        function removeRow(row) {
            $(row).parent().remove();
        }

    {% if force_membership %}
        row.clone().insertBefore($('#end'));
        var type = document.getElementsByName('type[]')[0];
        type.value = "membership";
        typeChange(type);
    {% endif %}

    </script>

{% endblock %}
