{% macro pagination_widget(pagination, endpoint, fragment='') %}
<ul class="pagination pagination-sm">
    <li{% if not pagination.has_prev %} class="disabled"{% endif %}>
        <a href="{% if pagination.has_prev %}{{ url_for(endpoint, page=pagination.prev_num, **kwargs) }}{{ fragment }}{% else %}#{% endif %}">
            &laquo;
        </a>
    </li>
    {% for p in pagination.iter_pages() %}
        {% if p %}
            {% if p == pagination.page %}
            <li class="active">
                <a href="{{ url_for(endpoint, page = p, **kwargs) }}{{ fragment }}">{{ p }}</a>
            </li>
            {% else %}
            <li>
                <a href="{{ url_for(endpoint, page = p, **kwargs) }}{{ fragment }}">{{ p }}</a>
            </li>
            {% endif %}
        {% else %}
        <li class="disabled"><a href="#">&hellip;</a></li>
        {% endif %}
    {% endfor %}
    <li{% if not pagination.has_next %} class="disabled"{% endif %}>
        <a href="{% if pagination.has_next %}{{ url_for(endpoint, page=pagination.next_num, **kwargs) }}{{ fragment }}{% else %}#{% endif %}">
            &raquo;
        </a>
    </li>
</ul>
{% endmacro %}

{% macro view_users_widget(users, pagination, endpoint) %}

{% if users %}
    <table class="table table-condensed table-hover">
        <thead>
            <tr>
                <th></th>
                <th>Email</th>
                <th>Username</th>
                <th>Real name</th>
                <th>Role</th>
                <th>Confirmed</th>
                <th>Member since</th>
                <th>Last seen</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr class="clickable-row">
                <td><img src="{{ user.photo_url(size=25) }}"></td>
                <td>
                     <a href="{{ url_for('main.user', username=user.username) }}"></a>
                    {{ user.email }}
                </td>
                <td>{{ user.username or '' }}</td>
                <td>{{ user.name or '' }}</td>
                <td>{{ user.role.name }}</td>
                <td>{{ user.confirmed }}</td>
                <td>{{ moment(user.member_since).format('DD/MM/YYYY') }}</td>
                <td>{{ moment(user.last_seen).format('DD/MM/YYYY HH:mm') }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>



{% endif %}

{% if pagination %}
<div class="text-center">
    {{ pagination_widget(pagination, endpoint) }}
</div>
{% endif %}

{% endmacro %}
