{% extends "base.html" %}

{% block title %}{{ config['APP_NAME'] }} - List reservations for {{ user.username }}{% endblock %}

{% block page_content %}

<div class="page-header">
    <h1>List reservations for {{ user.name }} ({{ user.username }})</h1>
</div>

<div class="col-md-12">
{% if reservations %}
    <table class="table table-condensed table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Resource</th>
                <th>Date</th>
                <th>Reason</th>
                <th>Cost (&euro;)</th>
                <th>Paid (&euro;)</th>
            </tr>
        </thead>
        <tbody>
        {% for reservation in reservations|sort(attribute='id', reverse=True) %}
            <tr class="clickable-row">
                <td><a href="{{ url_for('.reservation', id=reservation.id) }}"></a>{{ reservation.id }}</td>
                <td>{{ reservation.resource.name }}</td>
                <td>{{ moment(reservation.start, local=True).format('DD/MM/YYYY HH:mm') }}</td>
                <td>{{ reservation.reason }}</td>
                <td>{{ reservation.cost }}</td>
                <td>{{ reservation.paid }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endif %}
</div>

{% endblock %}
