{% extends "base.html" %}

{% block title %}{{ config['APP_NAME'] }} - {{ user.username }}{% endblock %}

{% block page_content %}

<div class="col-md-12">

    <img class="img-rounded profile-thumbnail" src="{{ user.photo_url(size=256) }}">

    <!-- <img style="float:right" width="150" src="{{ qrcode(url_for('.user', username=user.id, _external=True)) }}"> -->

    <div class="profile-header">
        <h1>
            {% if user.name %}
                {{ user.name }} ({{ user.username }})
            {% else %}
                {{ user.username }}
            {% endif %}
        </h1>
        {% if user.location %}
            From <a href="http://maps.google.com/?q={{ user.location }}">{{ user.location }}</a>
        {% endif %}
        {% if current_user.can(Permission.MANAGE_USERS) %}
            <p>email: <a href="mailto:{{ user.email }}">{{ user.email }}</a></p>
        {% endif %}
        {% if user.about_me %}
            <p>{{ user.about_me }}</p>
        {% endif %}
        <p>
            Registered member since {{ moment(user.member_since).format('L') }}. Last seen {{ moment(user.last_seen).fromNow() }}.
        </p>
        <p>
            Paid member:
            {% if user.membership_days_left %}
                {{ user.membership_days_left }} days left
            {% else %}
                no
            {% endif %}
        </p>

        <div class="panel panel-success">
            <div class="panel-heading">Skills</div>
            <div class="panel-body">
                {% for skill in skills %}
                    <a class="btn btn-info" href="{{ url_for('.skill', name=skill.name) }}">{{ skill.name }}</a>
                {% endfor %}
            </div>
        </div>

        <p>
            {% if current_user.can(Permission.MANAGE_USERS) %}
                <a class="btn btn-default" href="{{ url_for('.edit_profile_admin', id=user.id) }}">Edit profile</a>
                <a class="btn btn-default" href="{{ url_for('.edit_user_skills', id=user.id) }}">Update skills</a>
            {% elif user==current_user %}
                <a class="btn btn-default" href="{{ url_for('.edit_profile') }}">Edit profile</a>
            {% endif %}



            {% if current_user.can(Permission.MANAGE_USERS) or user==current_user %}
                <a class="btn btn-default" href="{{ url_for('.webcam', id=user.id) }}">Take picture</a>
            {% endif %}

            {% if current_user.is_administrator() %}
                <a class="btn btn-danger" href="{{ url_for('.delete_user', id=user.id) }}">Delete user</a>
            {% endif %}
        </p>

        <p>
            {% if current_user.can(Permission.MANAGE_USERS) or user==current_user %}
                <a class="btn btn-default" href="{{ url_for('.list_reservations', id=user.id) }}">Reservations</a>
            {% endif %}

            {% if current_user.can(Permission.MANAGE_PAYMENTS) %}
                <a class="btn btn-default" href="{{ url_for('.payments', id=user.id) }}">Payments</a>
            {% endif %}
        </p>
    </div>
</div>

{% endblock %}
