{% extends "base.html" %}
{% import "payment/_macros.html" as macros with context %}

{% block title %}{{ config['APP_NAME'] }} - {{ user.username }}{% endblock %}

{% block page_content %}

    <div class="page-header">
        <h1>{{ user.name }} ({{ user.username }})</h1>
    </div>

    <div class="col-md-2">
        <img class="img-rounded profile-thumbnail" src="{{ user.photo_url(size=256) }}">
    </div>

    <div class="col-md-8">

        {# Private information, only for the user himself or moderator #}
        <h2>Private info</h2>
        {% if current_user.can(Permission.MANAGE_USERS) or user==current_user %}
            {% if user.location %}<b>From:</b> <a href="http://maps.google.com/?q={{ user.location }}">{{ user.location }}</a><br>{% endif %}
            {% if user.organisation %}<b>Organisation or company:</b> {{ user.organisation }}<br>{% endif %}
            <b>E-mail:</b> <a href="mailto:{{ user.email }}">{{ user.email }}</a><br>
            <b>Registered member since:</b> {{ moment(user.member_since).format('DD/MM/YYYY') }}. Last seen {{ moment(user.last_seen).fromNow() }}.<br>
            <b>Paid member:</b>
                {% if user.membership_days_left %}
                    {{ user.membership_days_left }} days left
                {% else %}
                    no
                {% endif %}
            <br>
            <b>Credits:</b> &euro;{{ user.credits }}<br>
            {% if user.invoice_details %}<p><b>Invoice details:</b> <pre>{{ user.invoice_details }}</pre></p>{% endif %}

            {% if user.payments.all() %}
                <div class="panel panel-success">
                    <div class="panel-heading">Payments</div>
                    <div class="panel-body">
                        {{ macros.view_payments_widget(user.payments.all(), pagination, '.user') }}
                    </div>
                </div>
            {% endif %}

            {% if user.expensenotes.all() %}
                <div class="panel panel-success">
                    <div class="panel-heading">Expense notes</div>
                    <div class="panel-body">
                        <table class="table table-condensed table-hover">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Cost</th>
                                    <th>Description</th>
                                    <th>Bank account</th>
                                    <th>Date costs</th>
                                    <th>Date request</th>
                                    <th>Paid</th>
                                    <th>File</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for expensenote in user.expensenotes.all()|sort(attribute='id', reverse=True) %}
                                <tr class="clickable-row">
                                    <td>
                                        <a href="{{ url_for('.view_expensenote', id=expensenote.id) }}"></a>
                                        {{ expensenote.id }}
                                    </td>
                                    <td>&euro;{{ expensenote.total }}</td>
                                    <td>{{ expensenote.description }}</td>
                                    <td>{{ expensenote.bank_account }}</td>
                                    <td>{{ moment(expensenote.date).format('DD/MM/YYYY') }}</td>
                                    <td>{{ moment(expensenote.date_requested).format('DD/MM/YYYY') }}</td>
                                    <td>{{ expensenote.paid }}</td>
                                    <td><a href="{{ expensenote.file_url }}">{{ expensenote.filename }}</a></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            {% endif %}
        {% endif %}

        {# Public information, for everyone #}
        <h2>Public info</h2>
        {% if user.is_moderator %}
            {% if user.is_administrator %}
                <h3>Administrator</h3>
            {% else %}
                <h3>Moderator</h3>
            {% endif %}
        {% endif %}

        {% if user.about_me %}
            <div class="panel panel-success">
                <div class="panel-heading">About me</div>
                <div class="panel-body">
                    {{ user.about_me }}
                </div>
            </div>
        {% endif %}

        {# Skills #}
        <div class="panel panel-success">
            <div class="panel-heading">Skills</div>
            <div class="panel-body">
                {% for skill in skills %}
                    <a class="btn btn-info" href="{{ url_for('.skill', name=skill.name) }}">{{ skill.name }}</a>
                {% endfor %}
            </div>
        </div>



        {# Buttons #}
        <p>
            {% if current_user.can(Permission.MANAGE_USERS) %}
                <a class="btn btn-default" href="{{ url_for('.edit_profile_admin', id=user.id) }}">Edit profile</a>
                <a class="btn btn-default" href="{{ url_for('.edit_user_skills', id=user.id) }}">Update skills</a>
            {% elif user==current_user %}
                <a class="btn btn-default" href="{{ url_for('.edit_profile') }}">Edit profile</a>
            {% endif %}

            {% if current_user.can(Permission.MANAGE_USERS) or user==current_user %}
                <a class="btn btn-default" href="{{ url_for('.webcam', id=user.id) }}">Take picture</a>
            {% endif %}

            {% if current_user.is_administrator %}
                <a class="btn btn-danger" href="{{ url_for('.delete_user', id=user.id) }}">Delete user</a>
            {% endif %}
        </p>

        <p>
            {% if current_user.can(Permission.MANAGE_USERS) or user==current_user %}
                <a class="btn btn-default" href="{{ url_for('.list_reservations', id=user.id) }}">Reservations</a>
            {% endif %}

            {% if current_user.can(Permission.MANAGE_PAYMENTS) %}
                <a class="btn btn-default" href="{{ url_for('.make_payment', id=user.id) }}">Make payment</a>
            {% endif %}

            {% if current_user.is_moderator and user==current_user %}
                <a class="btn btn-default" href="{{ url_for('.create_expensenote', id=user.id) }}">Create expense note</a>
            {% endif %}
        </p>
    </div>

    <div class="col-md-2">
        <!-- <img style="float:right" width="150" src="{{ qrcode(url_for('.user', username=user.id, _external=True)) }}"> -->
    </div>

{% endblock %}
