{% extends "base.html" %}

{% block title %}{{ config['APP_NAME'] }} - {{ user.username }}{% endblock %}

{% block page_content %}

    <div class="page-header">
        <h1>{{ user.name }} ({{ user.username }})</h1>
    </div>

    <div class="col-md-2">
        <img class="img-rounded profile-thumbnail" src="{{ user.photo_url(size=256) }}">
    </div>

    <div class="col-md-8">

        {# Private information, only for the user himself or moderator #}
        {% if current_user.can(Permission.MANAGE_USERS) or user==current_user %}
            {% if user.location %}From <a href="http://maps.google.com/?q={{ user.location }}">{{ user.location }}</a>{% endif %}
            <p>E-mail: <a href="mailto:{{ user.email }}">{{ user.email }}</a></p>
            <p>Registered member since {{ moment(user.member_since).format('DD/MM/YYYY') }}. Last seen {{ moment(user.last_seen).fromNow() }}.</p>

            <p>
                Paid member:
                {% if user.membership_days_left %}
                    {{ user.membership_days_left }} days left
                {% else %}
                    no
                {% endif %}
            </p>
        {% endif %}

        {# Public information, for everyone #}
        {% if user.is_moderator() %}
            <p>Moderator</p>
        {% endif %}

        {% if user.about_me %}
            <div class="panel panel-default">
                <div class="panel-body">
                    About me:<br>
                    {{ user.about_me }}
                </div>
            </div>
        {% endif %}

        {# Skills #}
        <div class="panel panel-success">
            <div class="panel-heading">Skills</div>
            <div class="panel-body">
                {% for skill in skills %}
                    <a class="btn btn-info" href="{{ url_for('.skill', name=skill.name) }}">{{ skill.name }}</a>
                {% endfor %}
            </div>
        </div>

        {# Buttons #}
        <p>
            {% if current_user.can(Permission.MANAGE_USERS) %}
                <a class="btn btn-default" href="{{ url_for('.edit_profile_admin', id=user.id) }}">Edit profile</a>
                <a class="btn btn-default" href="{{ url_for('.edit_user_skills', id=user.id) }}">Update skills</a>
            {% elif user==current_user %}
                <a class="btn btn-default" href="{{ url_for('.edit_profile') }}">Edit profile</a>
            {% endif %}



            {% if current_user.can(Permission.MANAGE_USERS) or user==current_user %}
                <a class="btn btn-default" href="{{ url_for('.webcam', id=user.id) }}">Take picture</a>
            {% endif %}

            {% if current_user.is_administrator() %}
                <a class="btn btn-danger" href="{{ url_for('.delete_user', id=user.id) }}">Delete user</a>
            {% endif %}
        </p>

        <p>
            {% if current_user.can(Permission.MANAGE_USERS) or user==current_user %}
                <a class="btn btn-default" href="{{ url_for('.list_reservations', id=user.id) }}">Reservations</a>
            {% endif %}

            {% if current_user.can(Permission.MANAGE_PAYMENTS) %}
                <a class="btn btn-default" href="{{ url_for('.payments', id=user.id) }}">Make payment</a>
            {% endif %}
        </p>

        {# Private information, only for the user himself or moderator #}
        {% if current_user.can(Permission.MANAGE_USERS) or user==current_user %}
            {% if user.payments.all() %}
                <br><br>Payments:
                <table class="table table-condensed table-hover">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Amount</th>
                            <th>Method</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for payment in user.payments.all() %}
                        <tr class="clickable-row">
                            <td><a href="{{ url_for('.payment', id=payment.id) }}"></a>
                                {{ payment.id }}</td>
                            <td>{{ payment.amount }}&euro;</td>
                            <td>{{ payment.method }}</td>
                            <td>{{ moment(payment.date, local=False).format('DD/MM/YYYY HH:mm') }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        {% endif %}
    </div>

    <div class="col-md-2">
        <!-- <img style="float:right" width="150" src="{{ qrcode(url_for('.user', username=user.id, _external=True)) }}"> -->
    </div>

{% endblock %}
