{% extends "base.html" %}
{% import "resource/_calendar.html" as calendar %}

{% block title %}{{ config['APP_NAME'] }}{% endblock %}

{% block page_content %}

    <div class="page-header">
        <h1>Reservation calendar - {{ resource.name }}</h1>
    </div>

    {% if not resource.active %}
        <div class="panel panel-danger">
            <div class="panel-heading">Warning</div>
            <div class="panel-body">
                Resource not active - only available for moderators!
            </div>
        </div>
    {% endif %}

    <div class="panel panel-default">
    <div class="panel-body">
        <div class="col-md-3">
            <h3>Cost: &euro;{{ resource.price_p_per }} per {{ resource.reservation_period_pretty }}</h3>
        </div>

        <div class="col-md-5">
            <ul>
                <li>Create a reservation by clicking</li>
                <li>Update a reservation by <b>dragging and resizing</b></li>
                <li><b>Click on a reservation</b> for more info or to remove it</li>
            </ul>
        </div>

        <div class="col-md-4">
            <ul>
                <li>Remove your reservation if you can't make it</li>
                <li>All reservations will have to be paid</li>
            </ul>
        </div>
    </div>
    </div>

    <div class="col-md-12">
        {{ calendar.fullcalendar_content() }}
    </div>

{% endblock %}

{% block scripts %}
    {{ super() }}
    {% if can_reserve %}
        {{ calendar.fullcalendar_scripts('reservation', resource, '.reservation_setdata', '.reservation_getdata', '') }}
    {% else %}
        {{ calendar.fullcalendar_scripts('reservation', resource, none, '.reservation_getdata', '') }}
    {% endif %}
{% endblock %}