{% extends "base.html" %}

{% block title %}{{ config['APP_NAME'] }}{% endblock %}

{% block page_content %}

    <div class="page-header">
        <h1>Reservation calendar - {{ resource.name }}</h1>
    </div>

    <div class="col-md-12">
        <div id='calendar'></div>
    </div>

    <div id="dialog" title="" style="display:none;">Are you sure want to delete it?</div>


{% endblock %}

{% block scripts %}
    {{ super() }}
    <link rel='stylesheet' href='{{ url_for('static', filename='fullcalendar/fullcalendar.css') }}' />
    <script src='{{ url_for('static', filename='fullcalendar/fullcalendar.js') }}'></script>
    <script src='{{ url_for('static', filename='fullcalendar/lib/jquery-ui.custom.min.js') }}'></script>

    <script>
        $(document).ready(function() {

            $('#calendar').fullCalendar({

                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,agendaWeek,agendaDay'
                },

                firstDay: 1,
                editable: true,
                weekends: true,
                slotDuration: '00:20:00',
                snapDuration: '00:20:00',
                defaultView: 'agendaWeek',
                draggable: true,

                dayClick: function(date, allDay, jsEvent, view) {
                    $('#calendar').fullCalendar('renderEvent', { title: '{{ current_user.name }}', start: date, allDay: false }, true );
                },

                eventDestroy: function(event, element, view)
                {

                },

                eventClick: function(event, jsEvent, view)
                {
                    var r=confirm("Delete reservation?");
                    if (r===true)
                    {
                        $('#calendar').fullCalendar('removeEvents', event._id);
                    }
                },

            })
        });
    </script>
{% endblock %}